In [1]:
import numpy as np
import pandas as pd

vmcum=[]
prcum=[]
order=[]
classe=[]
conteur=0
ind=[]
s=0
p=0
data=pd.read_csv("data.csv")
ind=data["Unnamed: 0"]
dat=data.drop("Unnamed: 0",axis=1)
matrix=dat.to_numpy()
dat=pd.DataFrame(matrix,index=ind,columns=["quantité","prix"])
print(dat)
dat["vm"]=dat["quantité"]*dat["prix"]
vm=dat["vm"].to_numpy()
x=np.sort(vm)
x=x[::-1]
dat=dat.sort_values(by=["vm"],ascending=False)
for i in x:
    s=s+i
    vmcum.append(s)
total=np.sum(vm)
for i in range(len(vmcum)):
    prcum.append((vmcum[i]/total)*100)
dat["vm"]=vm
dat["vm ordonne"]=x
dat["vm cummule"]=vmcum
dat["% cummule"]=prcum
for i in range(len(dat)):
    conteur=conteur+(100/len(dat))
    if(conteur<=20):
        classe.append("A")
    elif(conteur>20 and conteur<80):
        classe.append("B")
    else:
        classe.append("C")
    
dat["classement ABC"]=classe       
dat.to_csv("aaa.csv")
f=pd.read_csv("aaa.csv")
f["ordre d'importance"]=f["Unnamed: 0"]
f["product"]=ind
f=f.drop(["Unnamed: 0"],axis=1)
f.insert(6,"ordre des produit",f["ordre d'importance"])
f.insert(0,"product",f.pop("product"))
f=f.drop(["ordre d'importance"],axis=1)
f

            quantité  prix
Unnamed: 0
telephone         30     2
ecoteure           8     3
pochet            20     3
incassable        28     4
battery           10     3
chargeur          14     3
afficheur          5     1
lcd                5     2

,product,quantité,prix,vm,vm ordonne,vm cummule,% cummule,ordre des produit,classement ABC
0,telephone,28,4,60,112,112,32.653061,incassable,A
1,ecoteure,30,2,24,60,172,50.145773,telephone,B
2,pochet,20,3,60,60,232,67.638484,pochet,B
3,incassable,14,3,112,42,274,79.883382,chargeur,B
4,battery,10,3,30,30,304,88.629738,battery,B
5,chargeur,8,3,42,24,328,95.626822,ecoteure,B
6,afficheur,5,2,5,10,338,98.542274,lcd,C
7,lcd,5,1,10,5,343,100.000000,afficheur,C